/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
/* Custom properties */
:root {
  --light-color: #fff;
  --light-color-alt: #afb6cd;
  --primary-background-color: #131417;
  --secondary-background-color: #252830;
  --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color);
  --gradient-color: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  --transparent-light-color: rgba(255, 255, 255, 0.05);
  --transparent-dark-color: rgba(0, 0, 0, 0.75);
  --font-family: "Poppins", sans-serif;
  --font-size-xsm: 1.2rem;
  --font-size-sm: 1.6rem;
  --font-size-md: 2.4rem;
  --font-size-lg: 3rem;
  --font-size-xl: 4rem;
  --gap: 2rem;
  --margin-sm: 2rem;
  --margin-md: 3rem;
  --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem;
}
/* Base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-sm);
  color: var(--light-color-alt);
  background-color: var(--primary-background-color);
  letter-spacing: 1px;
  transition: background-color 0.25s, color 0.25s;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

input,
button {
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

i {
  font-size: var(--font-size-md);
}
/* Theme color change */
body.light-theme {
  --light-color: #3d3d3d;
  --light-color-alt: rgba(0, 0, 0, 0.6);
  --primary-background-color: #fff;
  --secondary-background-color: #f1f1f1;
  --hover-light-color: #fff;
  --transparent-light-color: #252830;
  --transparent-dark-color: rgba(0, 0, 0, 0.1);
}

/* Reusable classes */
.container {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.place-items-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.screen-sm-hidden {
  display: none;
}

.d-grid {
  display: grid;
}

.section {
  padding-block: 5rem;
}

/* Header */
.header {
  background-color: var(--secondary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.5rem;
}

.logo {
  font-size: var(--font-size-md);
  color: var(--light-color);
}

.menu {
  position: absolute;
  top: 8.5rem;
  right: 1.5rem;
  width: 23rem;
  padding: 1.5rem;
  background-color: var(--secondary-background-color);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease-in;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.menu > .list {
  flex-direction: column;
}

.list-link.current {
  color: var(--light-color);
}

.close-menu-icon {
  display: none;
}

.btn {
  cursor: pointer;
  border: none;
}

.list-link:hover,
.btn:hover,
.btn:hover span {
  color: var(--light-color);
}

.moon-icon {
  display: none;
}

.light-theme .sun-icon {
  display: none;
}

.light-theme .moon-icon {
  display: block;
}

/* Header JavaScript Styles */
.header.active {
  box-shadow: 0 1px 0.5rem var(--transparent-light-color);
}

.menu.active {
  box-shadow: 1px 1px 1rem var(--transparent-light-color);
  opacity: 1;
  transform: scale(1);
}

.menu-toggle-icon.active .open-menu-icon {
  display: none;
}

.menu-toggle-icon.active .close-menu-icon {
  display: block;
}

/* Search */
.search-form-container {
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: var(--primary-background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

.form-container-inner {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form-input,
.form-btn {
  display: inline-block;
  border: 2px solid var(--secondary-background-color);
  padding: 1.5rem;
}

.form-input {
  border-right: none;
  width: 100%;
}
.form-btn {
  margin-left: -0.5rem;
  border-left: none;
  background-color: var(--secondary-background-color);
  width: 8rem;
}

.form-note {
  font-size: var(--font-size-xsm);
  align-self: flex-end;
}

.form-close-btn {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 2px solid var(--secondary-background-color);
  width: 4rem;
  height: 4rem;
}

/* Form JavaScript styles */
.search-form-container.active {
  opacity: 1;
  transform: scale(1);
}

/* Featured articles */
.featured-articles {
  padding-block: 2rem;
}

.section-header-offset {
  margin-top: 7.4rem;
}

.featured-articles-container,
.featured-content {
  gap: var(--gap);
}

.headline-banner {
  background-color: var(--secondary-background-color);
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
}

.headline {
  color: var(--light-color);
  font-size: 1rem;
  text-align: center;
  padding: 0.4rem;
  height: 100%;
  text-transform: uppercase;
}

.headline span {
  height: inherit;
}

.fancy-border {
  position: relative;
  overflow: hidden;
}

.fancy-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: var(--gradient-color);
  background-size: 50% 50%;
  z-index: 5;
}

.fancy-border span {
  position: relative;
  z-index: 10;
  display: inline-flex;
  padding: 0.6rem 1.5rem;
  background-color: var(--secondary-background-color);
}

.article {
  position: relative;
  min-height: var(--item-min-height-md);
}

.article-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s;
}

.article-category {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 1rem;
  font-size: 1rem;
  background-color: var(--primary-background-color);
  color: var(--light-color);
  text-transform: uppercase;
  z-index: 10;
}

.article-data-container {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2rem 1.5rem;
  background-color: var(--transparent-dark-color);
  z-index: 10;
  width: 100%;
  transition: background-color 0.5s;
}

.article:hover .article-data-container {
  background-color: var(--hover-dark-color);
  color: var(--hover-light-color);
}

.article:hover .article-data-spacer {
  background-color: var(--hover-light-color);
}

.article-data {
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-size: var(--font-size-xsm);
  margin-bottom: 1rem;
}

.article-data-spacer {
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--light-color-alt);
  transform: rotate(45deg);
}

.title {
  color: var(--light-color);
}

.article-title {
  font-size: var(--font-size-md);
}

/* Featured articles - Sidebar */
.sidebar {
  background-color: var(--secondary-background-color);
  padding: 2.5rem;
}

.trending-news-box {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-block: 2rem;
  border: 1px solid var(--transparent-light-color);
}

.trending-news-box:last-of-type {
  border-bottom: none;
}

.trending-news-image-box {
  position: relative;
  width: 100%;
  height: var(--item-min-height-sm);
}

.featured-content-title {
  font-size: var(--font-size-md);
  text-align: center;
  padding: 1rem;
}

.trending-number {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 15;
  width: 3rem;
  height: 3rem;
  background-color: var(--secondary-background-color);
  color: var(--light-color);
  border-radius: 50%;
}

.trending-news-data {
  padding-inline: 1rem;
}

.trending-news-data .article-title {
  font-size: var(--font-size-sm);
}

.trending-news-box:hover .article-title {
  color: var(--light-color-alt);
}

/* Quick read */
.section-title {
  position: relative;
  font-size: var(--font-size-md);
  margin-bottom: 6rem;
}

.section-title::before {
  content: attr(data-name);
  font-size: var(--font-size-lg);
  text-transform: uppercase;
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  opacity: 0.1;
}

.article .swiper-slide {
  height: 40rem;
}

/* Quick read - Swiper */
.swiper-wraper {
  height: auto;
}

.swiper-controls {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--secondary-background-color);
}

.swiper-controls::after {
  font-size: 1.6rem;
  color: var(--light-color);
}

.swiper-pagination {
  bottom: 0.5rem !important;
}

.swiper-pagination-bullet {
  background-color: var(--light-color);
}
/* Older posts */
.older-posts-grid-wrapper {
  gap: var(--gap);
}

.older-posts,
.article .older-posts-article-image-wrapper {
  min-height: var(--item-min-height-sm);
}

.older-posts .article {
  background-color: var(--secondary-background-color);
}

.older-posts-article-image-wrapper {
  position: relative;
}

.older-posts-grid-wrapper .article-data-container {
  position: static;
  background-color: transparent;
}

.older-posts-grid-wrapper .article-title {
  margin-bottom: var(--margin-sm);
}

.see-more-container {
  margin-top: var(--margin-md);
}

.see-more-btn {
  text-transform: uppercase;
}

.see-more-btn i {
  transition: transform 0.25s;
}

.see-more-btn:hover i {
  transform: translateX(0.5rem);
}
/* Popular tags */
.popular-tags-container {
  gap: var(--gap);
}

.popular-tags-container .article {
  min-height: var(--item-min-height-sm);
  overflow: hidden;
}

.tag-name {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--transparent-dark-color);
  padding: 1rem 2rem;
}

.popular-tags-container .article:hover .tag-name {
  color: var(--light-color);
}

.popular-tags-container .article:hover .article-image {
  transform: scale(1.05);
}

/* Newsletter */
.newsletter {
  padding-bottom: 6rem;
}

.newsletter-title {
  font-size: var(--font-size-lg);
}

.newsletter-description {
  margin-bottom: 3rem;
}


/* Footer */

/* Scrollbar styles */

/* Blog post */

/* Media queries */
