/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
/* Base styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font-size: 10px; */
    font-size: 62.5%
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s, color .25s;
    
}

a{
    text-decoration: none;
    color: inherit;

}
img{
    max-width: 100%;
    display: block;

}

ul{
    list-style: none;

}
input,
button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}
i {
    font-size: var(--font-size-md);
}

/* Theme color change */
body.light-theme{
    --light-color: #3d3d3d;
    --light-color-alt: rgba(0,0,0,.6);
    --primary-background-color: #fff;
    --secondary-background-color: #f1f1f1;
    --hover-light-color: #fff;
    --transparent-dark-color: var(--secondary-background-color);
    --transparent-light-color: rgba(0,0,0,.1);
}

/* Reusable classes */
.container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    

}
.place-items-center{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.section:not(.featurd-articles){
    padding-block : 5rem;
}

.d-grid{
    display: grid;
}
.screen-sm-hidden{
    display: None;
}
.d-grid{
    display: grid;

}
.section{
    padding-block: 5rem;

}



/* Header */
.header{
    background-color: var(--secondary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 1.5rem;
}
.logo{
    font-size: var(--font-size-md);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 8.5rem;
    right: 1.5rem;
    width: 23rem;
    padding: 1.5rem;
    background-color: var(--secondary-background-color);
    opacity: 0;
    transform: scale(0);
    transition: opacity .25s ease-in;
}
.list{
    display: flex;
    align-items: center;
    gap: var(--gap);

}
.menu > .list{
    flex-direction: column;

}


.list-link.list.current{
    color: var(--light-color);
}

.close-menu-icon{
    display: none;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover,
.btn:hover span{
    color: var(--light-color);
}

.moon-icon{
    display: none;

}

.light-theme .sun-icon{
    display: None;

}

.light-theme .moon-icon{
    display: block;

}


/* Header JavaScript Styles */
.header.activated{
    box-shadow: 1px 1px 1rem var(--transparent-light-color);
    opacity: 1;
    transform: scale(1);
}

.menu-toggle-icon.activated .open-menu-icon{
    display: None;
}
.menu-toggle-icon.activated .close-menu-icon{
    display: block;
}

/* Search */
.search-form-container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: var(--primary-background-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    /* opacity: 0;
    transform: scale(0); */
    transition: opacity .5s;
}
.form-container-inner{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap):
    text-align: center;
}
.form{
    display: flex;
    justify-content: center
}
.form-input,
.form-btn{
    display: incline-block;
    border: 2px solid var(--secondary-background-color);

}
.form-input{
    border-right:none;
    width: 100%;

}
.form-btn{
    margin-left: - .5rem;
    border-left: none;
    background-color: var(--secondary-background-color);
    width: 8rem;

}
.form-note{
    font-size: var(--fornt-size-xsm);
    align-self: flex-end;

}
.form-close-btn{
    position: absoloute;
    top: 1.5rem;
    right: 1.5rem;
    border: 2px solid var(--secondary-background-color);
    width: 4rem;
    height: 4rem;
}



/* Form JavaScript styles */
.search-for-container.activated{
    opacity : 1;
    transform: scale(1);
}
/* Featured articles */
.featurd-articles{
    padding-block: 2rem;

}

.section-header-offset{
    margin-top: 7.4rem;

}
.featurd-articles-conatiner,
.featured-content{
    gap: var(--gap);
}

.headline-banner{
    background-color: var(--secondary-background-color);
    display: flex;
    align-items: center;
    gap : var(--gap);
    font-size: var(--font-size-xsm)
}
.headline{
    color: var(--light-color);
    font-size: 1rem;
    text-align: center;
    padding: .4rem;
    height: 100 %;
}
.headline span{
    height: inherit;
}
.fancy-border{
    position: relative;;
    overflow: hidden;

}
.fancy-border::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: var(--gradient-color);
    background-size: 50% 100%;
    z-index: 5;
}

.fancy-border span{
    position: relative;
    z-index: 10;
    display: inline-flex;
    padding: .6rem 1.5rem;
    background-color: var(--secondary-background-color);

}

.article{
    position: relative;
    min-height: var(--item-min-height-md):
}

.article-image{
    position: absoloute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .25s;
}

.artical-category{
    position: absoloute;
    top: 1rem;
    right: 1rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: var(--primary-background-color):
    color: var(--light-color);
    text-transform: uppercase
    z-index: 10;

}

.article-data-container{
    position: absoloute;
    bottom: 0;
    lef: 0;
    padding: 2rem, 1.5rem;
    background-color: var(--transparent-dark-color);
    z-index: 10;
    width: 100%;
    transition: background-color .5s;
}

.article:hover .artical-data-spacer{
    background-color: var(--hover-light-color);

}

.article: hover .article-title{
    color: var(--hover-light-color)
}

.article-data{
    display: flex;
    align-items: center;
    gap : var(--gap);
    font-size: var(--font-size-xsm);
    margin-bottom: 1rem;
}



.article-data-spacer{
    width: .5rem;
    height: .5rem;
    background-color: var(--light-color-alt);
    transform: rotate(45deg);
}

.title{
    color: var(--light-color):

}

.artical-title{
    font-size: var(--font-size-md);
}

.sidebar{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.trending-news-box{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-block: 2rem;
    border: 1px solod --transparent-light-color;
}

.trending-news-box: last-of-type{
    border-bottom: none;
}
.trending-news-image-box{
    positon: relative;
    width: 100%
    height: var(--item-min-height-sm);
}

.featured-content-title{
    font-size: var(--font-size-md);
    text-align: center;
    padding: 1rem;

}

.trending-number{
    postion: absoloute;
    top: -1rem;
    left: -1rem;
    z-index: 15;
    width: 3rem;
    height: 3rem;
    background-color: var(--seconary-background-color):
    color: var(--light-color):
    border-radius: 50%;
}

.trending-news-data .article-title{
    font-size: var(--font-size-sm);

}

.trending-news-box:hover .article-title{
    color: var(--light-color-alt);


}





/* Featured articles - Sidebar */

/* Quick read */
.section-title{
    position: relative:
    font-size: var(--font-size-md):
    margin-bottom: 6rem;
}

.section-title::before{
    content: attr(data-name);
    font-size: var(--font-size-lg);
    text-transform : uppercase;
    opacity: -1;
    position: absolute;
    top: 1.5rem;
    left: 2rem;

}

.article.swiper-slide{
    height: 40rem;
}

/* Quick read - Swiper */
.swiper-wrapper{
    height: auto;
}
.swiper-controls{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--seconary-background-color);
    
}
.swiper-controls::after{
    font-size: 1.6rem;
    color: var(--light-color);
}

.swiper-pagination{
    bottom: .5rem !important;
}
.swiper-pagination-butlet{
    background-color: var(--light-color);
}

/* Older posts */
.older-posts-grid-wrapper{
    gap: var(--gap);
}
.older-posts-article-image-wrapper,
older-posts ,article{
    min-height: var(--item-min-height-sm);
}
older-posts .article{
    background-color: var(--secondary-background-color);

}
.older-posts-article-image-wrapper{
    possition: relative;
}

.older-posts-grid-wrapper .artical-data-container{
    positon: static;
    background-color: transparent;
}
.older-post-grid-wrapper .article-title{
    margin-bottom: var(--margin-sm):
}
.see-more-container{
    margin-top: var(--margin-md);
}
.see-more-btn{
    text-transform: uppercase;
}

.see-more-btn i{
    transition:  transform .25s;
}

.see-more-btn:hover 1{
    transform: translatex(.5rem);
}
/* Popular tags */
.popular-tags-container{
    gap: var(--gap);
}

.popular-tags-container .article{
    min-height: var(--item-min-height-sm);
    overflow: hidden;
}

.tag-name{
    position: absoloute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -50%);
    background-color: var(--transparent-dark-color);
    padding: 1rem 2rem;
    z-index: 10;
}

.popuar-tags-container .article:hover .tag-name{
    color: var(--light-color):

}
.popular-tags-container .article:hover .article-image{
    transform scale(1.05);
}
/* Newsletter */
.newsletter{
    padding-bottom: 6rem;

}
.newsletter-title{
    font-size: var(--font-size-ig):
}

.newsletter-description{
    margin-bottom: 3rem;
}

/* Footer */
.footer{
    background-color: var(--secondary-background-color);

}

.footer-container{
    gap: var(--gap);
}

.company-data{
    display: flex;
    flex-direction: column;
    order: 1;
}

.company-description{
    margin-block: var(--margin-sm);
    max-width: 75%;
}

.social-media{
    margin-bottom: var(--margin-mid);
}

.copyright-notice{
    opacity: .0;
}

.footer-list{
    flex-direction: column;
    align-items: flex;
}

.footer-title{
    font-size: var(--font size-md);
    text-transform: uppercase;
    margin-bottom: var(--margin-sm);
}
/* Scrollbar styles */
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-trak{
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background-color:#3d3d3d
}

::-webkit-scrollbar-thymb:hover{
    background-color: #3d3d3d;
}
/* Blog post */
.blog-post{
    padding-bottom: 5rem;

}
.blog-post-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 2.5rem;
}

.blog-post-title{
    font-size: clamp(3rem, 5vw, 6rem);
}

.blog-post-data .article-data{
    margin-bottom: 2.5rem;
}

.blog-post-data img{
    width: 100%
    height: var(--item-min-height-sm);
    object-fit: cover;
    object-position: center 10%;
}
.blog-post-container .container{
    max-width: 90rem;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.quote{
    background-color: var(--secondary-background-color);
    padding: 2.5rem;
}

.quote p{
    font-style: italic;

}

.quote span i{
    font-size: 3.5rem;
}

.author{
    margin-top: 5rem;
    gap: var(--gap);
    background-color: var(--secondary-background-color);
}

.author-image-box{
    position: relatve;
    height: var(--item-min-height-sm);

}

.authr-about{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

}
.author-name{
    color: var(--light-color);
    font-weight: 400;
}
.author p{
    max-width: 50rem;
    margin-bottom: 1rem;
}

.author-about .social-media{
    margin-top: auto;
    margin-bottom: 0;
}
/* Media queries */
@media screen and (min-width: 700px){
    .trending-news-box{
        flex-direction: row;
        align-items: center;
    }

    .trending-news-image-box{
        width: 50%;
    }

    .trending-news-data{
        margin: auto;
        text-align: center;
    }

    .newsletter-description{
        max-width: 40rem;
    }
    .popuar-tags-container,
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
    .form-container-inner{
        align-items: center;
    }

    .company-data{
        order: 0;
    }

    .author{
        grid-template-columns: 25rem 1fr;
    }
}

@media screen and (min-width: 768px){
    .featured-content{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 5rem repeat(4, 1fr);
    }

    .headline-banner{
        grid-column: 1/-1;
        font-size: var(--font-size-sm);
    }

    .featured-article{
        grid-column: 3/-1;
        grid-row: 2/4;
    }

    .featurd-articles-1{
        grid-column: 1/3;
    }
    .featurd-articles-3{
        grid-column: 1/-1;
        grid-area: 4/6;
    }

    .older-posts .article{
        grid-template-columns: 25rem 1fr;

    }

    .older-post-grid-wrapper{
        height: auto;

    }

    .blog-post-data img(
        height: var(--item-min-height-md);

    )
}

@media screen and (min-width: 1024px) {
    .menu{
        position: initial;
        width: initial;
        padding: initial;
        background-color: transparent;
        opacity: initial;
        transform: initial;
    }

    .menu > .list{
        flex-direction: row;
    }

    .screen-lg-hidden{
        display: none;
    }

    .screen-sm-hidden{
        display: block;
    }

    .sign-up-btn{
        padding: 4rem;
    }
    .fancy-border:hover::before{
        animation: animate-border .75s linear infinite;
    }
    @keyframes animate-bordder {
        to{
            transform: translate(-50%);
        }
    }

    .featured-article-container{
        grid-template-columns: 1fr 40rem;
    }

    .trending-news-image-box{
        width: 10rem;
        height: 10rem;
    }

    .popuar-tags-container{
        grid-template-columns: repeat(3, 1fr);
    }

    .footer-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .campanny-data{
        grid-column: span 2;
    }

    .company-description{
        max-width: 85%;
    }
    .copyright-notice{
        margin-top: auto;
    }

    .blog-post-data img{
        height: 40rem;
    }
}

@media screen and (min-width: 1200px){
    .older-posts-grid-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1500px){
    .featured-article{
        grid-column: 3/-1;
    }

    .featurd-articles-1{
        grid-column: 1/3;
        grid-row: 2/3;
    }
}