/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

/* Custom properties */

/* Base styles */

/* Theme color change */

/* Reusable classes */

/* Header */

/* Header JavaScript Styles */

/* Search */

/* Form JavaScript styles */

/* Featured articles */

/* Featured articles - Sidebar */

/* Quick read */

/* Quick read - Swiper */

/* Older posts */

/* Popular tags */

/* Newsletter */

/* Footer */

/* Blog post */

/* Media queries */